In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

print("âœ… Kernel and core libraries are working!")

âœ… Kernel and core libraries are working!

In [11]:
from astropy import units as u
from astropy.coordinates import SkyCoord
from skyfield.api import loadokay s

print("ðŸŒŒ Astropy and Skyfield are installed and working!")

ðŸŒŒ Astropy and Skyfield are installed and working!

In [12]:
!pip install skyfield

Requirement already satisfied: skyfield in /opt/anaconda3/lib/python3.13/site-packages (1.53)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.13/site-packages (from skyfield) (2025.8.3)
Requirement already satisfied: jplephem>=2.13 in /opt/anaconda3/lib/python3.13/site-packages (from skyfield) (2.23)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.13/site-packages (from skyfield) (2.1.3)
Requirement already satisfied: sgp4>=2.13 in /opt/anaconda3/lib/python3.13/site-packages (from skyfield) (2.25)

# Assistant
This error occurs because the 'skyfield' module is not installed in your Python environment. The error message "No module named 'skyfield'" indicates that Python cannot find this package when you try to import it.

Would you like me to provide the corrected code?

# User
yes

In [ ]:
# Assistant
# First, install the skyfield package
# Uncomment and run this line if you're in a Jupyter notebook:
# !pip install skyfield

# Then import the required packages
from astropy import units as u
from astropy.coordinates import SkyCoord
from skyfield.api import load

print("ðŸŒŒ Astropy and Skyfield are installed and working!")

In [ ]:
# From the project details it told me to download the messier objects, i just found someone's github repo that had then and then i double checked with claude if it was accuture, here im going to import then and then we can start.

In [15]:
!git clone https://github.com/mattiaverga/OpenNGC.git

Cloning into 'OpenNGC'...
remote: Enumerating objects: 1667, done.
remote: Counting objects: 100% (172/172), done.
remote: Compressing objects: 100% (156/156), done.
remote: Total 1667 (delta 35), reused 48 (delta 14), pack-reused 1495 (from 1)
Receiving objects: 100% (1667/1667), 209.57 MiB | 2.64 MiB/s, done.
Resolving deltas: 100% (701/701), done.

#Gave me an error so i fixed it by adding spe = ';'
ngc = pd.read_csv("OpenNGC/database_files/NGC.csv")
ngc.head()

In [22]:
ngc = pd.read_csv("OpenNGC/database_files/NGC.csv", sep=';')
ngc.head()

,Name,Type,RA,Dec,Const,MajAx,MinAx,PosAng,B-Mag,V-Mag,...,Cstar V-Mag,M,NGC,IC,Cstar Names,Identifiers,Common names,NED notes,OpenNGC notes,Sources
0,IC0001,**,00:08:27.05,+27:43:03.6,Peg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Type:1|RA:1|Dec:1|Const:99
1,IC0002,G,00:11:00.88,-12:49:22.3,Cet,0.98,0.32,142.0,15.46,NaN,...,NaN,NaN,NaN,NaN,NaN,"2MASX J00110081-1249206,IRAS 00084-1306,MCG -0...",NaN,NaN,NaN,Type:1|RA:1|Dec:1|Const:99|MajAx:3|MinAx:3|Pos...
2,IC0003,G,00:12:06.09,-00:24:54.8,Psc,0.93,0.67,53.0,14.78,NaN,...,NaN,NaN,NaN,NaN,NaN,"2MASX J00120604-0024543,MCG +00-01-038,PGC 000...",NaN,NaN,NaN,Type:1|RA:1|Dec:1|Const:99|MajAx:3|MinAx:3|Pos...
3,IC0004,G,00:13:26.94,+17:29:11.2,Peg,1.17,0.84,12.0,14.14,NaN,...,NaN,NaN,NaN,NaN,NaN,"2MASX J00132695+1729111,IRAS 00108+1712,MCG +0...",NaN,NaN,NaN,Type:1|RA:1|Dec:1|Const:99|MajAx:3|MinAx:3|Pos...
4,IC0005,G,00:17:34.93,-09:32:36.1,Cet,0.99,0.66,9.0,14.57,NaN,...,NaN,NaN,NaN,NaN,NaN,"2MASX J00173495-0932364,MCG -02-01-047,PGC 001...",NaN,NaN,NaN,Type:1|RA:1|Dec:1|Const:99|MajAx:3|MinAx:3|Pos...

# Trying to fix NaN values
It seems like a lot of these values are NaN maybe it has something to do with the way I parsed the data, so I'll put some fixes in.

In [ ]:
#this is make a raw copy of my data from the database
ngc_raw = pd.read_csv("OpenNGC/database_files/NGC.csv", sep=';')
ngc = ngc_raw.copy()   # work on this one below

In [24]:
#this is to keep the rows that actualy have the coordiantes
ngc = ngc.dropna(subset=['RA','Dec'])

#this is fill all of the number columns with their column medians
num_cols = ngc.select_dtypes(include='number').columns
ngc[num_cols] = ngc[num_cols].fillna(ngc[num_cols].median())

#fill text colummns
obj_cols = ngc.select_dtypes(include='object').columns
ngc[obj_cols] = ngc[obj_cols].fillna('Unknown')

print("Shape (rows, cols):", ngc.shape)

print("Missing RA:", ngc['RA'].isna().sum(), " | Missing Dec:", ngc['Dec'].isna().sum())

print("\nTop columns with remaining NaNs:")
print(ngc.isna().sum().sort_values(ascending=False).head(10))

num_cols = ngc.select_dtypes(include='number').columns
print("\nTotal NaNs across numeric columns (expect 0):",
      int(ngc[num_cols].isna().sum().sum()))

obj_cols = ngc.select_dtypes(include='object').columns
print("Total NaNs across text columns (expect 0):",
      int(ngc[obj_cols].isna().sum().sum()))

ngc.head(3)

Shape (rows, cols): (13962, 32)
Missing RA: 0  | Missing Dec: 0

Top columns with remaining NaNs:
Name             0
Type             0
OpenNGC notes    0
NED notes        0
Common names     0
Identifiers      0
Cstar Names      0
IC               0
NGC              0
M                0
dtype: int64

Total NaNs across numeric columns (expect 0): 0
Total NaNs across text columns (expect 0): 0

,Name,Type,RA,Dec,Const,MajAx,MinAx,PosAng,B-Mag,V-Mag,...,Cstar V-Mag,M,NGC,IC,Cstar Names,Identifiers,Common names,NED notes,OpenNGC notes,Sources
0,IC0001,**,00:08:27.05,+27:43:03.6,Peg,1.20,0.69,87.0,14.42,12.38,...,15.145,56.0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Type:1|RA:1|Dec:1|Const:99
1,IC0002,G,00:11:00.88,-12:49:22.3,Cet,0.98,0.32,142.0,15.46,12.38,...,15.145,56.0,Unknown,Unknown,Unknown,"2MASX J00110081-1249206,IRAS 00084-1306,MCG -0...",Unknown,Unknown,Unknown,Type:1|RA:1|Dec:1|Const:99|MajAx:3|MinAx:3|Pos...
2,IC0003,G,00:12:06.09,-00:24:54.8,Psc,0.93,0.67,53.0,14.78,12.38,...,15.145,56.0,Unknown,Unknown,Unknown,"2MASX J00120604-0024543,MCG +00-01-038,PGC 000...",Unknown,Unknown,Unknown,Type:1|RA:1|Dec:1|Const:99|MajAx:3|MinAx:3|Pos...